.footer{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    
}

.footer a{
    color: white;
}

.footer li{
    margin: 5px;
}

.footer p{
    margin: 25px;
}